/* Most of this css is just to change background colors for behaviour surrounding UV index. */
.green{
    background-color: rgb(7, 177, 7);
}
.yellow{
    background-color: yellow;
}
.orange{
    background-color: orange;
}
.red{
    background-color:red;
}
.lightblue{
    background-color: lightblue;
}
.weather{
    text-align: center;
}
/* This section hides or shows card for current city weather. */
.vis{
    visibility: show;
}
.hidden{
    visibility: hidden;
}